<mat-card>
	<mat-card-title>Add a new summary</mat-card-title>
			<mat-card-content>
				<app-form 
					*ngIf="show_form"
					[resetForm] = "true"
					(outSummary)="createSummary($event)"
				></app-form>
			</mat-card-content>
</mat-card>
<br>
<mat-card>
	<mat-card-title>Daily Summary Dashboard</mat-card-title>
	<mat-card-subtitle>Select a different year/month in the Manage Daily Summaries section to see different data</mat-card-subtitle>
	<mat-card-content>
		<div id="chartContainer" style="height: 370px; width: 100%; margin-left: auto; margin-right: auto"></div>
	</mat-card-content>
</mat-card>
<br>
<div *ngIf="show_bar">
		<h6 style="text-align:center">Loading summaries...</h6> 
		<mat-progress-bar
			class="example-margin"
			color="primary"
			mode="buffer"
			>
		</mat-progress-bar>
	</div>
<mat-card>
	<mat-card-title>Manage Daily Summaries</mat-card-title>
	<mat-card-content>
		<h6 style="text-align: center">Or select a date below to view or edit previous daily summary details</h6>
		<div class="container">
			<mat-form-field>
				<mat-label>Year</mat-label>
				<mat-select
					[(value)]="selected_year"
					(selectionChange)="selectNewYear($event)"
				>
					<mat-option 
						*ngFor="let year of dateService.YEAR_OPTIONS"
						[value]="year"
						>{{year}}
					</mat-option>
					</mat-select>
			</mat-form-field>
			<mat-form-field>
				<mat-label>Month</mat-label>
				<mat-select
					[(value)]="selected_month"
					(selectionChange)="selectNewMonth($event)"
				>
					<mat-option
						*ngFor="let month of dateService.MONTH_OPTIONS"
						[value]="month"
						>{{month}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<ul class="list-group">
			<li
				*ngFor="let summary of daily_summaries$ | async" 
				class="list-group-item">
				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>{{summary.date}}</mat-panel-title>
						<mat-panel-description>
							<p class="text-info">Select to edit</p>
						</mat-panel-description>
					</mat-expansion-panel-header>
						<app-form
							[summaryId] = "summary.id"
							[practice] = "summary.practice"
							[date]="summary.date" 
							[visits]="summary.visits"
							[workdays]="summary.workdays"
							[noshows]="summary.noshows"
							(outSummary)="updateSummary($event, summary.id)"
							[submitText]="'Update'">
						</app-form>
				</mat-expansion-panel>
			</li>
		</ul>
	</mat-card-content>
</mat-card>
