<div class="container border border-primary">
	<h6>Select your practice to get started</h6>
	<ul class="list-group">
		<li *ngFor="let practice of practices" class="list-group-item">
			<h6>
				<div class="row">
					<div class="col">
						<a [routerLink]="['/practices/', practice.slug]">{{practice.name}}</a>
					</div>
					<div class="col">
						<form #f="ngForm" (ngSubmit)="deletePractice(practice.slug)">
							<div align="right">
							<button style="text-align:right"
								type="submit"
								class="btn btn-secondary btn-sm"
								>Delete
							</button>
							</div>
						</form>
					</div>
				</div>
			</h6>
		</li>
	</ul>
</div>
	<app-practice-form
		(outPostPractice)="postPractice($event)"
	></app-practice-form>
