<div>
	<p class="text-muted">  Logged in as {{user.email}}. <a routerLink="/logout/">Log out  </a></p>
</div>
<div class="container">
<h1>{{entity.name}}</h1>
	<ul *ngFor="let practice of entity.practices">
		<mat-card (click)=navigatePractice($event)>
			<mat-card-title>{{practice.name}}</mat-card-title>
			<mat-card-content>
				<div class="container">
					<app-chart
						[sourceId]="practice.id"
						[dailySummaries]="practice.daily_summaries"
					></app-chart>
				</div>
			</mat-card-content>
	</mat-card>
	</ul>

</div>