<app-user></app-user>
<div *ngIf="entity">
		<h1>{{entity.name}}</h1>
		<ul *ngFor="let practice of entity.practices">
			<app-practice
				[practice]="practice"
			>
			</app-practice>
		</ul>
</div>

<br>
<div *ngIf="entity$ | async as entity2; else loading">
	<h1>{{entity$}}</h1>
	<h1>{{entity2}}</h1>
	<h1>{{entity2.name}}</h1>
		<ul *ngFor="let practice of entity2.practices">
			<li>
				<app-practice
					[practice]="practice | async"
				>
				</app-practice>
			</li>
		</ul>
</div>	

<ng-template #loading>
	Loading Entity...
</ng-template>